// <НАСТРОЙКИ СЕТКИ> =========================================================================================================

$mw: 1280px;
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;

.container{max-width:$mw;margin: 0 auto; padding: 0 10px; width: 100%;
	@media (max-width:$lg){max-width: 970px;}
	@media (max-width:$md){max-width: 750px;}
  @media (max-width:$sm){max-width: 600px;}
  @media (max-width:$xs){max-width: 100%;}
}
// </НАСТРОЙКИ СЕТКИ> =========================================================================================================
