@import 'fonts';
@import 'vars';
@import 'grid';
@import 'config';
@import 'include';
// CUSTOM USER STYLES

// <БАННЕР> =====================================================================================================
.banner {
  display: flex;
  align-items: flex-end;
  height: 390px;
  @include ibg();
  position: relative;
  @media (max-width: 1500px) {height: 320px;}
  @media (max-width: $md) {height: 260px;}
  @media (max-width: $sm) {height: 200px;}
  @media (max-width: $xs) {height: 160px;}
  @media (max-width: 400px) {height: 120px;}
  &::after{
    @include psevdo(0, 0, 0, 0);
    background-color: rgba(#000, 0.2);
  }
  // .banner__inner
  &__inner {
    color: #fff;
    padding-left: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 3;
    @media (max-width: $xs) {display: none;}
  }
  // .banner__text
  &__text {
    font-size: 24px;
    max-width: 600px;
    margin-bottom: 36px;
    @media (max-width: $md) {margin-bottom: 18px;}
    @media (max-width: $sm) {font-size: 20px;max-width: 500px;}
  }
  // .banner__subtitle
  &__subtitle {
    font-size: 16px;
    padding-top: 6px;
    position: relative;
    &::before {
      @include psevdo(0, auto, auto, 0);
      width: 92px;
      height: 2px;
      background-color: #fff;
    }
  }
}

// </БАННЕР> =====================================================================================================

// <МЕНЮ> =====================================================================================================
.menu {
  // .menu__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    font-family: $mont;
    @media (max-width: $sm){padding: 25px 0;}
  }
  // .menu__logo
  &__logo {
    max-width: 250px;
    width: 100%;
    @media (max-width: $lg) {max-width: 220px;}
    @media (max-width: $md) {order: 1;}
    @media (max-width: $sm) {max-width: 140px;}
    @media (max-width: $xs) {max-width: 80px;}
  }
  // .menu__list
  &__list {
    ul {
      @media (max-width: $md) {display: none;}
    }
  }
  // .menu__list-item
  &__list-item {
    color: #000;
    font-size: 21px;
    & + & {
      margin-left: 50px;
      @media (max-width: $lg) {margin-left: 20px;}
    }
  }
  // .menu__btn
  &__btn {
    max-width: 240px;
    @media (max-width: $lg) {max-width: 200px;font-size: 20px;}
    @media (max-width: $md) {order: 2;}
    @media (max-width: $sm) {max-width: 170px;font-size: 17px;}
    @media (max-width: $xs) {max-width: 120px;font-size: 12px;}
  }
  }
  .container {
  }
  .btn {
  }
  .menu-burger {
    width: 30px;
    height: auto;
    cursor: pointer;
    @media (min-width: 992px){display: none;}
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $blue2;
      margin-bottom: 3px;
      border-radius: 10px;
    }
    // .menu-burger__text
      &__text {
        font-size: 9px;
        line-height: 1.1;
        color: $blue2;
      }
  }

  
  
  
// </МЕНЮ> =====================================================================================================

// <ШАПКА> =====================================================================================================
.header {
  padding-bottom: 70px;
  // .header__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $sm) {flex-wrap: wrap;}
  }
  // .header__info
  &__info {
    width: calc(50% - 30px);
    @media (max-width: $sm) {width: 100%;}
  }
  // .header__info-logo
  &__info-logo {
    margin-bottom: 70px;
    @media (max-width: $lg) {margin-bottom: 40px;}
    @media (max-width: $sm) {margin-bottom: 15px;}
    img {
      object-fit: cover;
    }
  }
  // .header__info-text
  &__info-text {
    font-size: 36px;
    @media (max-width: $lg) {font-size: 30px;}
    @media (max-width: $md) {font-size: 24px;}
    @media (max-width: $sm) {text-align: center;}
    @media (max-width: $xs) {font-size: 14px;}
  }
  // .header__img
  &__img {
    width: calc(50% - 30px);
    @media (max-width: $sm) {width: 100%;text-align: center;}
  }
}
// </ШАПКА> =====================================================================================================

// <ГАЛЕРЕЯ> =====================================================================================================
.gallery {
  background-color: $blue;
  // .gallery__inner
  &__inner {
    padding-top: 130px;padding-bottom: 90px;
    @media (max-width: $sm) {padding-top: 65px;padding-bottom: 75px;}
  }
  // .gallery__slider
  &__slider {
    min-width: 0;
  }
  // .gallery__item
  &__item {
    min-width: 0;
    width: 100%;
    position: relative;
    height: 500px;
    @media (max-width: $lg) {height: 420px;}
    @media (max-width: $md) {height: 360px;}
    @media (max-width: $sm) {height: 300px;}
    @media (max-width: $xs) {height: auto;min-height: 200px;position: relative;padding-bottom: 5%;}
    &::after {
      @include psevdo(0, 0, 0, 0);
      background-color: rgba(#000, 0.3);
    }
    // width: 100%;
  }
  // .gallery__item-img
  &__item-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    @media (max-width: $xs) {position: absolute;top: 0;left: 0;}
  }
  // .gallery__item-icon
  &__item-icon {

  }
  }
  .container {
  }
.slider-slick {
  position: relative;
  outline: none;
  .slick-slide {
    outline: none;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-30px);
    width: 60px;
    height: 60px;
    font-size: 0;
    border: none;
    border: 2px solid $yellow;
    background-color: transparent;
    border-radius: 50%;
    transition: ease-out .3s;
    outline: none;
    z-index: 6;
    @media (max-width: 1500px){top: 100%;color: #fff;border-width: 1px;}
    @media (max-width: $sm) {width: 40px;height: 40px;}
    &:hover {
      background-color: $yellow;
      border-color: #C8C8C8;
      @media (max-width: 1500px){color: #000;border-color: #3d3d3d;}
    }
    &::before {
      font-size: 30px;
      @media (max-width: $sm) {font-size: 22px;}
    }
  }
  .slick-prev {
    left: -100px;
    @media (max-width: 1500px){left: 50%;transform: translateY(-90px) translateX(-80px);}
    @media (max-width: $sm) {transform: translateY(-60px) translateX(-50px);}
    &::before {
      font-family: 'icomoon';
      content: "\f104";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-next {
    right: -100px;
    @media (max-width: 1500px){right: 50%;transform: translateY(-90px) translateX(80px);}
    @media (max-width: $sm) {transform: translateY(-60px) translateX(50px);}
    &::before {
      font-family: 'icomoon';
      content: "\f105";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    li {
      margin: 0 5px;
      font-size: 0;
      button {
        border: none;
        background-color: transparent;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #C8C8C8;
        transition: ease-in-out .4s;
      }
      &.slick-active button {
        background-color: $yellow;
        cursor: auto;
      }
    }
  }
  .icon-hover:hover {
    .icon-search-plus {
      transform: scale(1);
    }
  }
  .icon-search-plus {
    border: 1px solid $yellow;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    left: 30px;
    top: auto;
    bottom: 30px;
    z-index: 5;
    transition: .3s;
    transform: scale(0);
    @media (max-width: 1500px) {bottom: auto;left: auto; right: 20px;top: 20px;}
    @media (max-width: $md){transform: scale(1);}
    @media (max-width: $sm) {width: 30px;height: 30px;}
    &:before {
      position: absolute;
      top: 10px;
      left: 10px;
      @media (max-width: $sm) {top: 7px;left: 7.5px;font-size: 13px;}
    }
    &:hover {
      background-color: $yellow;
      color: #000;
      transform: scale(1.2) !important;
    }
  }

}
// </ГАЛЕРЕЯ> =====================================================================================================

// <О НАС> =====================================================================================================
.about {
  // .about__inner
  &__inner {
    @include psect;
  }
  // .about__row
  &__row {
    display: flex;
    @media (max-width: $md) {flex-wrap: wrap;}
  }
  }
  .container {
  }
  .about-row {
    &:nth-child(even) {
      .about-row__info {
        order: -1;
        @media (max-width: $md) {order: 1;}
      }
    }
  // .about-row__img
  &__img {
    width: 50%;
    @include ibg;
    height: 400px;
    @media (max-width: $md) {width: 100%;position: relative;height: auto;min-height: 100px;padding-bottom: 60%;margin-bottom: 20px;}
    img {
      object-fit: cover;
      object-position: center;
      // width: 100%;
      height: 100%;
      width: 100%;
      @media (max-width: $md) {position: absolute;top: 0;left: 0;}
    }
  }
  // .about-row__info
  &__info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $md) {width: 100%;}
  }
  // .about-row__info-title
  &__info-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: $md) {margin-bottom: 12px;}
  }
  // .about-row__info-text
  &__info-text {
    max-width: 460px;
    @media (max-width: $lg){max-width: 410px;}
    @media (max-width: $md) {margin-bottom: 30px;max-width: 100%;}
    p {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: $lg){font-size: 16px;}
    }
  }
  }
  
// </О НАС> =====================================================================================================



.header__link {
  position: relative;
  text-decoration: none;
  transition: .4s;
  padding-bottom: 4px;
}

.header__link>.link__text:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #000;
  transform: scale(0, 1);
  transition: transform 0.4s;
  transform-origin: 100% 50%;
}
.header__link:hover .link__text:after {
  transform: scale(1, 1);
  transform-origin: 0 50%;
}