@import 'fonts';
@import 'vars';
@import 'grid';
@import 'config';
@import 'include';
// CUSTOM USER STYLES

// <БАННЕР> =====================================================================================================
.banner {
  display: flex;
  align-items: flex-end;
  height: 390px;
  @include ibg();
  position: relative;
  @media (max-width: 1500px) {height: 320px;}
  @media (max-width: $md) {height: 260px;}
  @media (max-width: $sm) {height: 200px;}
  @media (max-width: $xs) {height: 160px;}
  @media (max-width: 400px) {height: 120px;}
  &::after{
    @include psevdo(0, 0, 0, 0);
    background-color: rgba(#000, 0.2);
  }
  // .banner__inner
  &__inner {
    color: #fff;
    padding-left: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 3;
    @media (max-width: $xs) {display: none;}
  }
  // .banner__text
  &__text {
    font-size: 24px;
    max-width: 600px;
    margin-bottom: 36px;
    @media (max-width: $md) {margin-bottom: 18px;}
    @media (max-width: $sm) {font-size: 20px;max-width: 500px;}
  }
  // .banner__subtitle
  &__subtitle {
    font-size: 16px;
    padding-top: 6px;
    position: relative;
    &::before {
      @include psevdo(0, auto, auto, 0);
      width: 92px;
      height: 2px;
      background-color: #fff;
    }
  }
}

// </БАННЕР> =====================================================================================================

// <МЕНЮ> =====================================================================================================
.menu {
  // .menu__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    font-family: $mont;
    @media (max-width: $sm){padding: 25px 0;}
  }
  // .menu__logo
  &__logo {
    max-width: 250px;
    width: 100%;
    @media (max-width: $lg) {max-width: 220px;}
    @media (max-width: $md) {order: 1;}
    @media (max-width: $sm) {max-width: 140px;}
    @media (max-width: $xs) {max-width: 80px;}
  }
  // .menu__list
  &__list {
 
  }
  // .menu__list-item
  &__list-item {
    color: #000;
    font-size: 21px;
    & + & {
      margin-left: 50px;
      @media (max-width: $lg) {margin-left: 20px;}
    }
  }
  // .menu__btn
  &__btn {
    max-width: 240px;
    @media (max-width: $lg) {max-width: 200px;font-size: 20px;}
    @media (max-width: $md) {order: 2;}
    @media (max-width: $sm) {max-width: 170px;font-size: 17px;}
    @media (max-width: $xs) {max-width: 120px;font-size: 12px;}
  }
  }
  .container {
  }
  .btn {
  }
  .menu-burger {
    width: 30px;
    height: auto;
    cursor: pointer;
    @media (min-width: 992px){display: none;}
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $blue2;
      margin-bottom: 3px;
      border-radius: 10px;
    }
    // .menu-burger__text
      &__text {
        font-size: 9px;
        line-height: 1.1;
        color: $blue2;
      }
  }

.menu__list {
  .menu__list-wrap {
    @media (max-width: $md) {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      transform: translateX(-120%);
      transition: ease-in .4s;
      background-color: $blue;
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  ul {
    @media (max-width: $md) {
      z-index: 25;

    }
  }
  &-item {
    @media (max-width: $md) {
      display: block;
      & + & {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
  .menu__list-close {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 22px;
    cursor: pointer;
    transform: scale(0);
    transition: .4s;
    transition-delay: .5s;
    @media (min-width: 992px) {
      display: none !important;
    }
  }
}
.menu__list.active {
  .menu__list-wrap {
    transform: translateX(0%);
  }
  .menu__list-close {
    transform: scale(1);
  }
}
body.fixed-menu {
  .menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 20;
    &__inner {
      padding: 25px 0;
      @media (max-width: $sm) {
        padding: 15px 0;
      }
    }
  }
}
  
  
// </МЕНЮ> =====================================================================================================

// <ШАПКА> =====================================================================================================
.header {
  padding-bottom: 70px;
  // .header__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $sm) {flex-wrap: wrap;}
  }
  // .header__info
  &__info {
    width: calc(50% - 30px);
    @media (max-width: $sm) {width: 100%;}
  }
  // .header__info-logo
  &__info-logo {
    margin-bottom: 70px;
    @media (max-width: $lg) {margin-bottom: 40px;}
    @media (max-width: $sm) {margin-bottom: 15px;}
    img {
      object-fit: cover;
    }
  }
  // .header__info-text
  &__info-text {
    font-size: 36px;
    @media (max-width: $lg) {font-size: 30px;}
    @media (max-width: $md) {font-size: 24px;}
    @media (max-width: $sm) {text-align: center;}
    @media (max-width: $xs) {font-size: 14px;}
  }
  // .header__img
  &__img {
    width: calc(50% - 30px);
    @media (max-width: $sm) {width: 100%;text-align: center;}
  }
}
// </ШАПКА> =====================================================================================================

// <ГАЛЕРЕЯ> =====================================================================================================
.gallery {
  background-color: $blue;
  // .gallery__inner
  &__inner {
    padding-top: 130px;padding-bottom: 90px;
    @media (max-width: $sm) {padding-top: 65px;padding-bottom: 75px;}
  }
  // .gallery__slider
  &__slider {
    min-width: 0;
  }
  // .gallery__item
  &__item {
    min-width: 0;
    width: 100%;
    position: relative;
    height: 500px;
    @media (max-width: $lg) {height: 420px;}
    @media (max-width: $md) {height: 360px;}
    @media (max-width: $sm) {height: 300px;}
    @media (max-width: $xs) {height: auto;min-height: 200px;position: relative;padding-bottom: 5%;}
    &::after {
      @include psevdo(0, 0, 0, 0);
      background-color: rgba(#000, 0.3);
    }
    // width: 100%;
  }
  // .gallery__item-img
  &__item-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    @media (max-width: $xs) {position: absolute;top: 0;left: 0;}
  }
  // .gallery__item-icon
  &__item-icon {

  }
  }
  .container {
  }
.slider-slick {
  position: relative;
  outline: none;
  .slick-slide {
    outline: none;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-30px);
    width: 60px;
    height: 60px;
    font-size: 0;
    border: none;
    border: 2px solid $yellow;
    background-color: transparent;
    border-radius: 50%;
    transition: ease-out .3s;
    outline: none;
    z-index: 6;
    @media (max-width: 1500px){top: 100%;color: #fff;border-width: 1px;}
    @media (max-width: $sm) {width: 40px;height: 40px;}
    &:hover {
      background-color: $yellow;
      border-color: #C8C8C8;
      @media (max-width: 1500px){color: #000;border-color: #3d3d3d;}
    }
    &::before {
      font-size: 30px;
      @media (max-width: $sm) {font-size: 22px;}
    }
  }
  .slick-prev {
    left: -100px;
    @media (max-width: 1500px){left: 50%;transform: translateY(-90px) translateX(-80px);}
    @media (max-width: $sm) {transform: translateY(-60px) translateX(-50px);}
    &::before {
      font-family: 'icomoon';
      content: "\f104";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-next {
    right: -100px;
    @media (max-width: 1500px){right: 50%;transform: translateY(-90px) translateX(80px);}
    @media (max-width: $sm) {transform: translateY(-60px) translateX(50px);}
    &::before {
      font-family: 'icomoon';
      content: "\f105";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    li {
      margin: 0 5px;
      font-size: 0;
      button {
        border: none;
        background-color: transparent;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #C8C8C8;
        transition: ease-in-out .4s;
      }
      &.slick-active button {
        background-color: $yellow;
        cursor: auto;
      }
    }
  }
  .icon-hover:hover {
    .icon-search-plus {
      transform: scale(1);
    }
  }
  .icon-search-plus {
    border: 1px solid $yellow;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    left: 30px;
    top: auto;
    bottom: 30px;
    z-index: 5;
    transition: .3s;
    transform: scale(0);
    @media (max-width: 1500px) {bottom: auto;left: auto; right: 20px;top: 20px;}
    @media (max-width: $md){transform: scale(1);}
    @media (max-width: $sm) {width: 30px;height: 30px;}
    &:before {
      position: absolute;
      top: 10px;
      left: 10px;
      @media (max-width: $sm) {top: 7px;left: 7.5px;font-size: 13px;}
    }
    &:hover {
      background-color: $yellow;
      color: #000;
      transform: scale(1.2) !important;
    }
  }

}
// </ГАЛЕРЕЯ> =====================================================================================================

// <О НАС> =====================================================================================================
.about {
  // .about__inner
  &__inner {
    @include psect;
  }
  // .about__row
  &__row {
    display: flex;
    @media (max-width: $md) {flex-wrap: wrap;}
  }
  }
  .container {
  }
  .about-row {
    &:nth-child(even) {
      .about-row__info {
        order: -1;
        @media (max-width: $md) {order: 1;}
      }
    }
  // .about-row__img
  &__img {
    width: 50%;
    @include ibg;
    height: 400px;
    @media (max-width: $md) {width: 100%;position: relative;height: auto;min-height: 100px;padding-bottom: 60%;margin-bottom: 20px;}
    img {
      object-fit: cover;
      object-position: center;
      // width: 100%;
      height: 100%;
      width: 100%;
      @media (max-width: $md) {position: absolute;top: 0;left: 0;}
    }
  }
  // .about-row__info
  &__info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $md) {width: 100%;}
  }
  // .about-row__info-title
  &__info-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: $md) {margin-bottom: 12px;}
  }
  // .about-row__info-text
  &__info-text {
    max-width: 460px;
    @media (max-width: $lg){max-width: 410px;}
    @media (max-width: $md) {margin-bottom: 30px;max-width: 100%;}
    p {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: $lg){font-size: 16px;}
    }
  }
  }
  
// </О НАС> =====================================================================================================

// <АФИША> =====================================================================================================
.poster {
  @include psect;
  background-color: $blue;
  @media (max-width: $sm) {padding-bottom: 75px;}
  // .poster__slider
  &__slider {
   
  }
  // .poster__item
  &__item {
    height: 530px;
    margin: 0 20px; 
    @media (max-width: $md) {margin: 0 10px;height: 430px;}
    @media (max-width: $sm) {margin: 0 5px;height: 330px;}
    @media (max-width: $xs) {margin: 0;height: auto;min-height: 180px;padding-bottom: 6%;}
    position: relative;
    z-index: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(#000, .2);
    }
  }
  // .poster__item-img
  &__item-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    @media (max-width: $xs) {position: absolute;top: 0;left: 0;}
  }
  }
  .container {
  }
  .slider-slick {
  }
  .icon-hover {
  }
  .gallery {
  // .gallery__item-icon
  &__item-icon {}
  }
  .icon-search-plus {
  }
  
// </АФИША> =====================================================================================================

// <ПАРТНЕРЫ> =====================================================================================================
.partners {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #E3E3E3;
  // .partners__title
  &__title {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    @media (max-width: $xs){margin-bottom: 10px;}
  }
  // .partners__inner
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $xs){flex-wrap: wrap;justify-content: space-around;}
  }
  // .partners__item
  &__item {
    @media (max-width: $xs){width: 45%;margin-top: 20px;text-align: center;}
    img {
      @media (max-width: $xs) {max-height: 80%;}
    }
    &+ .partners__item {
      margin-left: 90px;
      @media (max-width: $sm){ margin-left: 50px;}
      @media (max-width: $xs){ margin-left: 0px;}
    }
  }
  }
  .container {
  }
  
// </ПАРТНЕРЫ> =====================================================================================================

// <СЕКЦИЯ НАД КАРТОЙ> =====================================================================================================
.abovemap {
  @include psect;
  @media (max-width: $xs) {padding-bottom: 30px;}
  // .abovemap__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md) {flex-wrap: wrap;}
  }
  // .abovemap__info
  &__info {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: $lg) {max-width: 350px;}
    @media (max-width: $md) {max-width: 100%;margin-bottom: 30px;}
  }
  // .abovemap__info-image
  &__info-image {
    @media (max-width: $md) {margin-bottom: 20px;}
    img {
      @media (max-width: $md) {margin: 0 auto;display: block;}
    }
  }
  // .abovemap__info-social
  &__info-social {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
    @media (max-width: $lg) {margin-bottom: 0;}
    a {
      @media (max-width: $xs) {width: 45px;}
    }
    a + a {
      margin-left: 40px;
    }
  }
  // .abovemap__text
  &__text {
    max-width: 700px;
    font-size: 21px;
    @media (max-width: $lg) {max-width: 550px;font-size: 18px;}
    @media (max-width: $md) {max-width: 100%;}
    p  {
      margin-bottom: 20px;
      @media (max-width: $lg) {margin-bottom: 15px;}
    }
    h4 {
      margin: 0;
      margin-bottom: 5px;
    }
  }
  }
  .container {
  }
// </СЕКЦИЯ НАД КАРТОЙ> =====================================================================================================

// <КАРТА> =====================================================================================================
.map {
  padding-bottom: 100px;
  @media (max-width: $sm){padding-bottom: 50px;}
  // .map__inner
  &__inner {
    iframe {
      width: 99%;
      height: 560px;
      @media (max-width: $lg) {height: 400px;}
      @media (max-width: $md) {height: 300px;}
      @media (max-width: $xs) {height: 240px;}
    }
  }
  }
  .container {
  }
// </КАРТА> =====================================================================================================

// <ПОДВАЛ> =====================================================================================================
.footer {
  @include psect;
  background-color: #3E3E3E;
  color: #fff;
  font-size: 14px;
  // .footer__inner
  &__inner {
    display: flex;
    margin-bottom: 60px;
    @media (max-width: $xs) {flex-wrap: wrap;margin-bottom: 10px;}
  }
  // .footer__col
  &__col {
    @media (max-width: $xs) {width: 48%;margin-bottom: 20px;}
    @media (max-width: 450px) {width: 100%;}
    & + & {
      margin-left: 160px;
      @media (max-width: $md) {margin-left: 80px;}
      @media (max-width: $sm) {margin-left: 40px;}
      @media (max-width: $xs) {margin-left: 0px;}
    }
  }
  // .footer__col-title
  &__col-title {
    margin-bottom: 10px;
    font-size: 18px;
    @media (max-width: $xs) {margin-bottom: 5px;}
  }
  // .footer__col-email
  &__col-email {
    display: inline-block;
    margin-bottom: 10px;
    color: #46D3FF;
    position: relative;
    transition: .3s;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #46D3FF;
    }
  }
  // .footer__col-phone
  &__col-phone {
    display: block;
  }
  // .footer__copy
  &__copy {
    display: flex;
    justify-content: space-between;
    @media (max-width: $xs) {flex-wrap: wrap;}
  }
  // .footer__copy-text
  &__copy-text {
    @media (max-width: $xs) {width: 100%;margin-bottom: 10px;}
  }
  // .footer__copy-link
  &__copy-link {}
  }
  .container {
  }
  .footer .header__link>.link__text:after {
    border-top: 2px solid #fff;
  }
  
// </ПОДВАЛ> =====================================================================================================

// <Всплавающее окно карьера> =====================================================================================================
.career {
  position: fixed;
  max-width: 660px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 21;
  transition: .5s;
  transition-delay: .4s;
  opacity: 0;
  overflow-x: hidden;
  &.active {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  @media (max-width: $sm) {width: 95%;}
  @media (max-height: 650px)  {max-height: 450px;overflow-y: scroll;}
  @media (max-width: 660px)  {max-height: 450px;overflow-y: scroll;}
  // .career__inner
  &__inner {
    padding: 50px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1400px) {padding: 30px;}
  }
  // .career__img
  &__img {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    @media (max-width: 1400px) {width: 300px;height: 300px;}
    @media (max-width: $lg) {margin-bottom: 20px;}
    @media (max-width: $md) {height: 250px;width: 250px;margin-bottom: 10px;}
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  // .career__info
  &__info {
    font-size: 21px;
  }
  // .career__title
  &__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
    @media (max-width: $lg) {font-size: 36px;}
    @media (max-width: $md) {font-size: 30px;}
    @media (max-width: $sm) {font-size: 24px;}
  }
  // .career__text
  &__text {
    margin-bottom: 20px;
    @media (max-width: $md) {margin-bottom: 10px;}
    @media (max-width: $sm) {font-size: 18px;}
  }
  // .career__link
  &__link {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 20px;
    @media (max-width: $md) {margin-bottom: 10px;}
  }
  &__link-wrap {
    display: flex;
    flex-direction: column;
  }
  // .career__social
  &__social {
    display: flex;
    img {
      display: block;
    }
    a {
      @media (max-width: $xs) {width: 45px;}
    }
    a + a {
      margin-left: 35px;
      @media (max-width: $md) {margin-left: 25px;}
    }
  }
}
.career {
  .career__close {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 22px;
    cursor: pointer;
    transform: scale(0);
    transition: .4s;
    transition-delay: .9s;
    // @media (min-width: 992px) {
    //   display: none !important;
    // }
  }
  &.active {
    .career__close {
      transform: scale(1);
    }
  }
}

// </Всплавающее окно карьера> =====================================================================================================

.header__link {
  position: relative;
  text-decoration: none;
  transition: .4s;
  padding-bottom: 4px;
}

.header__link>.link__text:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #000;
  transform: scale(0, 1);
  transition: transform 0.4s;
  transform-origin: 100% 50%;
}
.header__link:hover .link__text:after {
  transform: scale(1, 1);
  transform-origin: 0 50%;
}